@import '../../style/vars.scss';
@import '../../style/templates.scss';

.btn__leftarrow,
.btn__rightarrow {
    background-image: url(../../assets/icons/arrow.png);
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    align-self: center;
    opacity: 0.5;
    margin-top: 5%;
}
.btn__leftarrow {
    justify-self: flex-end;
    grid-column: 1;
}
.btn__rightarrow {
    grid-column: 3;
    transform: rotate(180deg);
}
.btn__leftarrow:hover{
    opacity: 1;
    transform: scale(1.1);
}
.btn__leftarrow-disabled,
.btn__rightarrow-disabled {
    display: none;
}
.btn__rightarrow:hover {
    opacity: 1;
    transform: scale(1.1) rotate(180deg);
}
.btn__leftarrow:active {
    transform: scale(0.90);
}
.btn__rightarrow:active {
    transform: scale(0.90) rotate(180deg);
}