@import '../../style/vars.scss';
@import '../../style/templates.scss';

.btn__leftarrow,
.btn__rightarrow {
    background-image: url(../../assets/icons/arrow.png);
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    align-self: center;
    opacity: 0.5;
}
.btn__leftarrow {
    margin-left: 30%;
    margin-right: 5%;
}
.btn__rightarrow {
    margin-left: 5%;
    margin-right: 30%;
    transform: rotate(180deg);
}
.btn__leftarrow:hover{
    opacity: 1;
    transform: scale(1.1);
}
.btn__rightarrow:hover {
    opacity: 1;
    transform: scale(1.1) rotate(180deg);
}