
@import '../../style/vars.scss';
@import '../../style/templates.scss';
.card{
    grid-column: 2;
}
.card__wrapper{
    
    background-color: rgb(202, 252, 235);
    margin: 2rem auto;
    width: 400px;
    height: 250px;
    border: 2px solid $main-color;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card__word,
.card__translation{
    margin: 0;
    @include txt-style;
    font-size: 3rem;
}
.card__word{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card__transcription{
    margin: 0 auto;
    @include txt-style;
    font-size: 3rem;
}
.card__button{
    @include txt-style;
    font-size: 1.5rem;
    padding: 3%;
    color: white;
    background-color: $main-color;
    border-style: none;
    border-radius: 25px;
    width: fit-content;
}
.card__button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.card__button:active {
    transform: scale(0.90);
}