@import '../../style/vars.scss';
@import '../../style/templates.scss';

.card{
    width: 340px;
    height: 480px;
}
.card__flipper{

}
.card__rule{
    @include txt-style;
}
.card__front,
.card__back{
    
    background-color: rgb(202, 252, 235);
    margin: 2rem auto;
    width: 500px;
    height: 300px;
    border: 2px solid $main-color;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .card__front{
    transform: perspective(600px) rotateY(0deg);
}
.card__back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #f1f1f1;
}
.card:hover > .card.__front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .card__back{
    transform: perspective(600px) rotateY(0deg);
} */
.card__word,
.card__translation{
    margin: 0;
    @include txt-style;
    font-size: 5rem;
}
.card__transcription{
    @include txt-style;
    font-size: 3rem;
}