@import '../../style/vars.scss';

.table{
    border-collapse: collapse;
    margin: 3rem auto;
    border: 2px solid $main-color;
}
.table__title{
    margin: 1rem auto;
    color: $main-color;
    font-size: 1.5rem;
    font-weight: bolder;
}
td, th{
    border: 2px solid $main-color;
    color: $main-color;
    padding: 0.5rem;
    text-align: center;
}
.col_title {
    background-color: $bg-color;
}
.td{
    background-color: white;
}
.edit__btn,
.del__btn{
    width: 2rem;
}